@using Markdig
@if (Message is not null)
{
    <div class="chat-content" style="text-align:@_alignment;">
        @if (Message.Role == ChatRole.User)
        {
            <div class="card-container">
                <div class="card">
                    <span style="color: white;">@(Message.Content ?? string.Empty)</span>
                </div>
            </div>

        }
        else
        {
            <FluentPersona Name="@($"{Message.Model} - {Message.Date}")" ImageSize="40px"
                           Initials="B" Style="margin-bottom:5px" />
            @if (string.IsNullOrEmpty(Message.Content))
            {
                <FluentProgress Width="25px" Style="margin-left:10px"></FluentProgress>
            }
            else
            {
                @((MarkupString)Markdown.ToHtml(Message.Content ?? string.Empty))
            }
            @if (Message.IsDoneStreaming)
            {
                <FluentButton Id="copy-content-button" OnClick="CopyToClipboard" Appearance="Appearance.Stealth">
                    <FluentIcon Value="@(new Icons.Filled.Size16.Copy())" Color="Color.Neutral" />
                </FluentButton>
                <FluentTooltip Anchor="copy-content-button"
                               Delay="300"
                               Position="TooltipPosition.Bottom">Copy contents</FluentTooltip>
            }
        }

    </div>
}
@code {

    [Parameter]
    public ChatMessage? Message { get; set; }

    [Parameter]
    public IJSRuntime? JsRuntime { get; set; }

    [Parameter]
    public IToastService? ToastService { get; set; }

    private string _alignment = string.Empty;

    protected override void OnParametersSet() =>
        _alignment = Message!.Role == ChatRole.Assistant ? "left" : "right";

    private async Task CopyToClipboard()
    {
        await JsRuntime!.InvokeVoidAsync("navigator.clipboard.writeText", Message.Content);
        if (!string.IsNullOrEmpty(Message.Content))
            ToastService!.ShowSuccess("Copying to clipboard was successful!");
        else
            ToastService!.ShowError($"Clipboard's empty");
    }

}


