@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.ChatCompletion
@using Microsoft.SemanticKernel.Connectors.OpenAI
@using System.Text
@using Open.Blazor.Ui.Features.Shared.Models

@if (_discourse is not null && _activeOllamaModels is not null)
{
    <div>
        <FluentSelect TOption="OllamaModel"
                      Items="@_activeOllamaModels.Models"
                      Id="listOfActiveModels"
                      Width="200px"
                      OptionText="@(p => p.Name)"
                      SelectedOption="_selectedModel"
                      SelectedOptionChanged="HandleSelectedOptionChanged" />
    </div>
    <div id="chat-window">

        @foreach (var message in _discourse.ChatMessages)
        {
            <ChatContent Message="message" ToastService="ToastService" JsRuntime="JsRuntime" />
        }

    </div>
    <div class="chat-box-container">
        <FluentTextArea @bind-Value=_userMessage Style="width:640px" Placeholder="Let's chat"></FluentTextArea>

        @if (!_isChatOngoing)
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Send())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="SendMessage" />
        }
        else
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Stop())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="StopChat" />
        }


    </div>
}

