@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.ChatCompletion
@using Microsoft.SemanticKernel.Connectors.OpenAI
@using System.Text
@using Open.Blazor.Ui.Features.Shared.Models

@if (_discourse is not null && _activeOllamaModels is not null)
{
    <div class="settings">

        <FluentCard>
            <FluentLabel Style="margin-bottom:10px" Typo="Typography.Header"> Chat Settings </FluentLabel>
            <FluentSelect TOption="OllamaModel"
                          Label="Model"
                          Items="@_activeOllamaModels.Models"
                          Id="listOfActiveModels"
                          Width="200px"
                          Style="margin:5px"
                          OptionText="@(p => p.Name)"
                          SelectedOption="_selectedModel"
                          SelectedOptionChanged="HandleSelectedOptionChanged" />
            <FluentSlider Label="Temperature" @bind-Value="_temperature" Min="0" Max="2" Step=".1" Style="margin:5px" />
            <FluentSlider Label="Max Tokens" @bind-Value="_maxTokens"  Min="0" Max="4000" Step="10" Style="margin:5px" />
            <FluentSlider Label="Top P"  @bind-Value="_topP" Min="0" Max="2" Step=".1" Style="margin:5px" />
            <FluentSlider Label="Presence Penalty" @bind-Value="_presencePenalty" Min="0" Max="2" Step=".1" Style="margin:5px" />
            <FluentSlider Label="Frequency Penalty" @bind-Value="_frequencyPenalty" Min="0" Max="2" Step=".1" Style="margin:5px" />
            <FluentTextArea Label="System Prompt"  @bind-Value="_chatSystemPrompt" Cols="80"></FluentTextArea>


        </FluentCard>
    </div>

    <div id="chat-window">

        @foreach (var message in _discourse.ChatMessages)
        {
            <ChatContent Message="message" ToastService="ToastService" JsRuntime="JsRuntime" />
        }

    </div>
    <div class="chat-box-container">
        <FluentTextArea @bind-Value=_userMessage Style="width:640px" Placeholder="Let's chat"></FluentTextArea>

        @if (!_isChatOngoing)
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Send())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="SendMessage" />
        }
        else
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Stop())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="StopChat" />
        }


    </div>
}

