@using Markdig
@if (Message is not null)
{
    <div style="width:700px">
        <strong>@Message.Role:</strong>
        @((MarkupString)Markdown.ToHtml(Message.Content ?? string.Empty))
    </div>
}
@code {

    [Parameter]
    public ChatMessage? Message { get; set; }

}
