@if (Message is not null)
{
    <div>
        @if (Message.Role == ChatRole.Assistant && string.IsNullOrEmpty(Message.Content))
        {
            <strong>@Message.Role:</strong>  
           <FluentBadge Appearance="Appearance.Accent" Style="margin-left:2px">
              ....
            </FluentBadge>
        }
        else
        {
            <strong>@Message.Role:</strong> @Message.Content
        }
    </div>
}
@code {

    [Parameter]
    public ChatMessage? Message { get; set; }

}
