.label-header {
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Helvetica, "Apple Color Emoji", Arial, "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 600;
    color: #1B8CE3;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}

    .label-header:hover {
        color: #59BEFC;
        background-color: #f0f0f0;
        padding: 2px;
        border-radius: 5px;
    }
