@using Open.Blazor.Core.Features.Shared.Models
@inject IJSRuntime JSRuntime
@if (_discourse is not null )
{
    <div id="chat-window">

        @foreach (var message in _discourse.ChatMessages)
        {
            <ChatContent Message="message" ToastService="_toastService" JsRuntime="_jsRuntime"/>
        }

    </div>
    <div class="chat-box-container">

        @if (!_isListening)
        {
            <FluentButton Id="speech-button" IconStart="@(new Icons.Filled.Size16.Record())" Style="margin-right:5px"
                          Appearance="Appearance.Stealth" OnClick="StartListening"/>
        }
        else
        {
            <FluentButton Id="speech-button" IconStart="@(new Icons.Filled.Size16.RecordStop())" Style="margin-right:5px" Color="Color.Error"
                          Appearance="Appearance.Accent" OnClick="StopListening"/>
        }

        <FluentTooltip Anchor="speech-button"
                       Delay="300"
                       Position="TooltipPosition.Start">
            Record speech to text
        </FluentTooltip>

        <FluentTextArea @bind-Value=_userMessage Style="width:640px" Placeholder="Let's chat"></FluentTextArea>

        @if (!_isChatOngoing)
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Send())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="SendMessage"/>
        }
        else
        {
            <FluentButton IconStart="@(new Icons.Filled.Size16.Stop())" Style="margin-left:5px"
                          Appearance="Appearance.Stealth" OnClick="StopChat"/>
        }


    </div>
}