
#chat-window {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden;
}

.chat-box-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.settings {
    display: block;
    margin-right: 60px;
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
}

@media (max-width: 1400px) {
    .settings {
        display: none;
    }
}