::deep .markdown-content {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #dcdcdc;
}

::deep pre {
    background-color: #0D0D0D;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    color: #f8f8f2;
    max-width: 700px;
}

::deep code {
    background-color: #0D0D0D;
    padding: 2px 4px;
    border-radius: 3px;
    color: #f8f8f2;
    max-width: 700px;
}

::deep strong {
    color: #ffffff;
}

::deep a {
    color: #66d9ef;
    text-decoration: none;
}

::deep a:hover {
    text-decoration: underline;
}

::deep blockquote {
    color: #888;
    border-left: 3px solid #444;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0;
}

::deep ul, ol {
    padding-left: 20px;
}

::deep li {
    margin-bottom: 5px;
}

::deep .card-container {
    display: flex;
    justify-content: flex-end;
}

::deep .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: calc(2 / 3 * 700px);
    background: #212121;
}


.chat-content {
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .container {
        width: auto;
    }
}


@media (max-width: 400px) {
    .container {
        min-width: auto;
    }
}
